---
# Source: myctrlmesh/templates/rbac/leader_election_role_binding.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: ctrlmesh-leader-election-rolebinding
  namespace: ctrlmesh
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: leader-election-role
subjects:
- kind: ServiceAccount
  name: ctrlmesh-serviceaccount
  namespace: ctrlmesh
