---
# Source: mykridge/templates/rbac/role.yaml
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: kridge-kusionstack-role
rules:
- apiGroups:
  - '*'
  resources:
  - configmaps
  - controllerrevisions
  - deployments
  - endpoints
  - persistentvolumeclaims
  - pods
  - services
  - statefulsets
  - events
  verbs:
  - '*'
- apiGroups:
  - admissionregistration.k8s.io
  resources:
  - mutatingwebhookconfigurations
  - validatingwebhookconfigurations
  verbs:
  - get
  - list
  - patch
  - update
  - watch
  - delete
- apiGroups:
  - apps
  resources:
  - ""
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - namespaces
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - kridge.kusionstack.io
  resources:
  - managerstates
  - managerstates/finalizers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - kridge.kusionstack.io
  resources:
  - '*'
  - '*/status'
  verbs:
  - '*'
